[submodule "turtlebot3_ws/src/ld08_driver"]
	path = turtlebot3_ws/src/ld08_driver
	url = https://github.com/ROBOTIS-GIT/ld08_driver.git
	branch = humble
[submodule "turtlebot3_ws/src/coin_d4_driver"]
	path = turtlebot3_ws/src/coin_d4_driver
	url = https://github.com/ROBOTIS-GIT/coin_d4_driver.git
	branch = humble
